._*
# Mac
.DS_Store
# IntelliJ
.idea/
*.iml
# Git
*.orig
# Java
*out/
Desastres/out/
# Compiled class file
*.class
# Package Files #
*.jar
# *.zip
# *.tar.gz
# *.rar
# Others
pythonProject/data.csv
.vscode/
tempCodeRunnerFile.py
