cycler==0.11.0
fonttools==4.31.2
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==9.1.0
pip==22.0.4
pipe==1.6.0
popen==0.1.20
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
setuptools==61.3.1
six==1.16.0
subprocess32==3.5.4
tqdm==4.63.1
wheel==0.37.1
