cycler==0.11.0
fonttools==4.60.2
kiwisolver==1.4.2
matplotlib==3.5.1
numpy==1.22.3
packaging==21.3
pandas==1.4.2
Pillow==12.2.0
pip==26.1
pipe==1.6.0
popen==0.1.20
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
setuptools==78.1.1
six==1.16.0
subprocess32==3.5.4
tqdm==4.66.3
wheel==0.38.1
